# dependencies
/node_modules
/.pnp
.pnp.js
.yalc
yalc.lock

# testing
/coverage

# production
/build

# misc
/secrets
.DS_Store
.env

# Husky
/.husky/.gitignore
/.husky/_

# VSCode
/.vscode/launch.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
